@model Library.Models.Book
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Book Details</h2>

<form action="~/Book/Edit" method="post">
    <br /> <br />
    <div class="form-group row">
        <label class="col-sm-2">Book Id</label>
        <input type="number" id="BookId" name="BookId" value="@Model.BookId" disabled class="form-control  form-control-sm col-sm-4" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2">Title</label>
        <input type="text" id="BookTitle" name="BookTitle"  value="@Model.BookTitle" class="form-control  form-control-sm col-sm-4" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2">Author Name</label>
        @Html.DropDownList("AuthorId", (IEnumerable<SelectListItem>)ViewBag.author, Model.AuthorName, new { @class = "form-control  form-control-sm col-sm-4" })
    </div>
    <div class="form-group row">
        <label class="col-sm-2">Category </label>
        @Html.DropDownList("BookCategory", new List<SelectListItem>
    () {
    new SelectListItem { Text="Action", Value="Action"} ,
    new SelectListItem { Text="Drama", Value="Drama"} ,
    new SelectListItem { Text="Fantacy", Value="Fantacy"} ,
    new SelectListItem { Text="Fiction", Value="Fiction"} ,
    new SelectListItem { Text="Thriller", Value="Thriller"}
    }, Model.BookCategory, new { @class = "form-control  form-control-sm col-sm-4" })
    </div>
    <div class="form-group row">
        <label class="col-sm-2">Publish Date</label>
        <input type="date" id="BookPublishDate" name="BookPublishDate" class="form-control  form-control-sm col-sm-4" value="@Model.BookPublishDate" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2">Description</label>
        <input type="text" id="BookDescr" name="BookDescr" class="form-control  form-control-sm col-sm-4" value="@Model.BookDescr"/>
    </div>
    <div class="form-group row">
        <label class="col-sm-2">Upload File</label>
        <input type="text" id="FilePath" name="FilePath" class="form-control  form-control-sm col-sm-4" value="@Model.FilePath"/>
    </div>
    <br /> <br />
    <input type="submit" value="Save" class="btn btn-success btn-lg" />
    <br /> <br />
</form>
